SECRET_KEY=django-insecure-=fw@v(uh4s4$k0ota@9)2sjw5ybizrpkucs9x*t1b2pmk48te3
DEBUG=True
POSTGRES_DB=drfbase
POSTGRES_USER=postgres
POSTGRES_PASSWORD=2410
POSTGRES_HOST=localhost
POSTRGES_PORT=5432
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
CACHE_ENABLE=
CACHES_LOCATION=
STRIPE_API_KEY=
STRIPE_API_URL=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_TIMEZONE=
CELERY_TASK_TRACK_STARTED=

